.issue-items-container {
	flex-direction: column;
	align-items: start;
	justify-content: start;
	cursor: pointer;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
	margin-top: 7px;
	box-shadow: var(--embed-block-shadow-hover);
	border-radius: var(--radius-s);
	width: 100%;
	overflow: hidden;
	text-wrap: pretty;
}

/* This directly modifies obsidians css which youre not supposed to do */
.cm-preview-code-block:hover {
	box-shadow: none !important;
	border: none !important;
}

.cm-preview-code-block {
	box-shadow: none !important;
	border: none !important;
}

.main-issues-searchfield {
	background-color: inherit;
	width: 80%;
	margin-top: 10px;
	height: 30px;
	box-shadow: none;
	padding: 10px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

/* Issue Details Modal Stuff */

.issue-details-author-container {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: start;
	padding-top: 5px;
	padding-left: 5px;
}

.issue-details-author-icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	border-radius: 50%;
}

.issue-details-author-name {
	margin: 0;
}

.issue-details-link {
	padding-top: 10px;
	text-align: right;
}

.issue-details-state-and-label-container {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: start;
	padding-top: 10px;
	color: white;
	font-size: 0.8em;
}	

.issue-details-created-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

.issue-items-label-container {
	display: flex;
	flex-direction: row;
}

.issue-details-state-pill {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
	border-radius: 10px;
	margin-right: 5px;
	padding: 5px;
	font-size: 10px;
}

.issue-details-labels-grid {
	margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.issue-details-labels-row-first {
    display: grid;
	padding-top: 4px;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.issue-details-labels-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.issue-details-label-grid-container {
    display: flex;
    align-items: center;
    gap: 2px;
}

.issue-details-label-color-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 8px;
    vertical-align: middle;
}

.issue-details-state {
	margin: 0;
	padding: 0;
}

.issue-details-labels {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: start;
	gap: 5px;
	padding: 0;
	opacity: 1.0;
}

.issue-details-label-pill {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 2px;
	border-radius: 10px;
	margin: 0;
	font-size: 10px;
}

.issue-details-label-name {
	margin: 0;
}

.issue-details-assignee-icon {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin: 5px 0 0;
	margin-inline-end: 5px;
	padding: 0;
}

.selectable-text * {
	user-select: text;
    -webkit-user-select: text;
	cursor: text;
}

.issue-details-description-input {
    margin-top: 10px;
    width: 100%;
    min-height: 100px;
    height: auto;
    resize: none;
    border-radius: var(--radius-s);
    font-size: 1em;
    line-height: 1.5;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.issue-details-description-container {
    position: relative;
    margin-top: 10px;
}

.issue-details-description-preview {
    min-height: 100px;
    padding: 8px;
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--radius-s);
    cursor: text;
}

.description-preview:hover {
    background-color: var(--background-modifier-hover);
}

.toggle-preview-button {
    position: absolute;
    top: -40px;
    right: 0;
}

.issue-details-title-input {
	margin-top: 10px;
	width: 100%;
	max-height: fit-content;
	min-height: 30px;
	border-radius: var(--radius-s);
	font-size: 1em;
}

.issue-details-comment-body {
	padding: 0;
	margin: 5px 0 5px 10px;
}

.issue-details-comment-text {
	margin: 0;
	padding: 0;
	white-space: pre-wrap;
}

.issue-details-comments-input {
	margin-top: 30px;
	width: 100%;
	height: 100px;
	max-width: 100%;
	min-width: 100%;
	max-height: 200px;
	min-height: 50px;
	border-radius: var(--radius-s);
}

.issue-details-comments-input-label {
	margin: 0;
}

.issue-details-buttons-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.issue-details-comment-button {
	margin-top: 0;
	margin-right: 10px;
	padding: 5px;
	border-radius: var(--radius-s);
}

.issue-details-close-button {
	margin: 0;
	padding: 5px;
	border-radius: var(--radius-s);
}

/* Issues Modal */

.issues-url-input {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

.issues-url-button {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

.issues-search-input {
	width: 100%;
}

.nav-list {
	list-style: none;
	padding: 0;
	overflow: auto;
	height: 300px;
}

.nav-item {
	padding-top: 15px;
	padding-right: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.issues-modal-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #838284;
	padding: 5px;
}

.issues-modal-item-title {
	font-size: 1em;
}

.issues-item-subtitle {
	padding-top: 2px;
}

.loading-spinner {
	border: 4px solid var(--background-secondary);
	border-top: 3px solid var(--interactive-accent);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 1s linear infinite;
	margin: auto;
	margin-top: 12.5px;
	margin-bottom: 12.5px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.issue-items-title {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-left: 7px;
	margin-right: 4px;
	margin-top: 7px;
	padding: 0;
	overflow: clip;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow-wrap: break-word;
}

.issue-items-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
	margin-bottom: 7px;
}

.issue-items-creator-text {
    color: var(--text-muted);
    font-size: 0.9em;
    white-space: nowrap;
}

.issue-items-assignee-text {
    color: var(--text-muted);
    font-size: 0.9em;
    text-align: right;
    white-space: nowrap;
}

.issue-items-label {
	padding: 2px;
	margin: 2px;
	border-radius: 10px;
	opacity: 1.0;
	font-size: 12px;
}

.new-issue-title-input {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

.new-issue-description-input {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	max-height: fit-content;
	font-family: "monospace";
}

.new-issue-selected-labels {
	display: flex;
	flex-wrap: wrap;
}

.new-issue-label-dropdown {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	height: 30px;
	max-height: 30px;
	max-width: 100%;
	border-radius: 5px;
}

.new-issue-tag {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	margin: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	background: var(--background-modifier-form-field);
}

.new-issue-remove-button {
	background: inherit;
	border: none;
	outline: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	margin-left: 5px;
}

.issue-details-save-button {
	margin-left: auto;
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
	background-color: #bc6969 !important;
	opacity: 0;
	height: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.issue-details-comments-container {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	box-shadow: var(--embed-block-shadow-hover);
	border-radius: var(--radius-s);
}

.issue-details-save-button.visible {
    opacity: 1;
	height: auto;
    visibility: visible;
    transform: translateY(0);
}

.issue-highlighted {
    background-color: var(--background-modifier-hover);
    border-left: 4px solid var(--interactive-accent);
}

.issue-findings { 
    background-color: var(--background-modifier-hover);
    border-right: 4px solid red;
}

.issue-details-label-grid-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 4px 0;
}

.issue-details-label-grid-container input[type="checkbox"] {
    margin: 0;
}

.issue-details-label-pill {
    padding: 2px 8px;
    border-radius: 11px;
    font-size: 11px;
    cursor: pointer;
}